.weeklyForecastChartBox {
  width: 100%;
  height: 23rem;
  border-radius: 25px;
  padding: none;
  backdrop-filter: blur(16px);
  background-color: rgba(34, 29, 29, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  /* filter: drop-shadow(0 0 20px rgba(252, 252, 252, 0.8)); */
}

.weeklyForecastChartHeader {
  width: 100%;
  height: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: center;
}



.weeklyForecastChartHeader span {
  height: 0.2rem;
  width: 2rem;
  border-radius: 5px;
  background-color: rgb(217, 209, 209);
}


.lineChatContainer{
  height: calc(100% - 2.6rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}