.defaultDashboard{
    height: 100vh;
    width: 60vw;
    position: relative;
}





@media (max-width: 790px) {
   
.defaultDashboard{
    height: 100vh;
    width: 60vw;
    position: relative;
    display: none;
}

}