.windWidgetBox {
  min-width: 12rem;
    max-width: 26rem;
  width: 23rem;
  height: 100%;
  border-radius: 25px;
  padding: 1rem;
  /* background-image: url("../../../assets/images/coldWeather.webp"); */
  background-size: cover;
  background-color: rgba(34, 29, 29, 0.4);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: whitesmoke;
  filter: drop-shadow(0 3 3px rgba(0, 252, 252, 0.8));
}

.windWidgetHeader {
  width: 100%;
  height: 2.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
